@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb{
    background:#181829 ;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background:rgb(78, 57, 97) ;
    border-radius: 10px;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance:none;
    appearance: none;
    outline: 0;
    border:0 !important;
    box-shadow: none;
    background: #27272a;
    background-image: none;
    flex:1;
    color: #fff;
    font-size: 1em;
    padding: 0 0.5em;
    /* border-radius: 10px; */
    cursor: pointer;
    font-family: "Open Sans",sans-serif;
}

select::-ms-expand{
    display: none;
}

.select{
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background:#27272a;
    overflow: hidden;
    border-radius: 0.25em;
}
.select::after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding-block-end: 0 1em;
    background: #27272a;
    cursor: pointer;
    pointer-events: none;
    transition:0.25s all ease;
}

.select:hover::after{
    color:#6556cd
}